* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  background-color: aqua;
}

.hero{
    background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo{
    color: white;
}

.header-links ul{
  list-style: none;
  display: flex;
  margin: 1.2rem;
  padding: 0;
}

.header-links li, a{
    margin-right: 10px;
    text-decoration: none;
    color: grey;
}
